MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=myedudna
JWT_SECRET_KEY=change-this-secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
GROQ_API_KEY=your-groq-api-key
GROQ_MODEL=llama-3.1-8b-instant
SUPERVITY_AGENT_URL=https://auto-workflow-api.supervity.ai/api/v1/workflow-runs/execute/stream
SUPERVITY_API_KEY=your-supervity-api-key
EMAIL_USER=yourgmail@gmail.com
EMAIL_PASS=your_16_char_app_password